@import url("https://rsms.me/inter/inter.css");

.inter {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

.ff-tab-num {
  font-feature-settings: "tnum" 1;
}

.editable-pre[contenteditable="true"]:active,
.editable-pre[contenteditable="true"]:focus {
  background: #fff;
  box-shadow: 0 0 0 1px #96ccff;
  outline: none;
}

.min-height-vh-100 {
  min-height: 100vh;
}
